@charset "utf-8";
/*-------------------------------------------------

  base.css

 --------------------------------------------------*/


/* common
****************************************************/
html {
	width: 100%;
	min-width: 1301px;
}
body {
	font-size: 13px;
	font-family: "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    color: #333;
	line-height: 1.7em;
	letter-spacing: 0.1em;
	text-align: left;
	background-color: #fff;
	position: relative;
}
h1 {
	font-size: 30px;
	font-weight: bold;
}
h2 {
	font-size: 26px;
	font-weight: bold;
	margin-bottom: 12px;
	border-left: 10px solid #39b998;
	padding: 3px 0 3px 10px;
}
h3 {
	font-size: 22px;
	font-weight: bold;
	margin-bottom: 10px;
	border-left: 8px solid #77dec6;
	padding: 3px 0 3px 10px;
}
a {
	color: #333;
	text-decoration: none !important;
}
a:hover {
	color: #333;
	text-decoration: none;
}
ul, ol {
	list-style: none;
}
li {
	list-style: none;
}
.inner {
	width: 1000px;
	padding: 0 10px;
	margin: 0 auto;
}
.disno,
input[type=file].disno {
	display: none !important;
}
.btn-custom {
	color: #2a7d65;
	background-color: #39b998;
	border: none;
	box-shadow: 0 5px 0 #2a7d65;
}
.btn-custom:hover {
	margin-top: 3px;
	margin-bottom: -3px;
	box-shadow: 0 2px 0 #2a7d65;
	color: #fff;
}
.tit {
	font-size: 16px;
	font-weight: bold;
}
.error-message,
.error-messages {
	color: #e74c3c;
	padding: 5px;
}
.attention {
	color: #e74c3c;
	width: 460px;
	text-align: right;
}
.pager li.active a {
	background-color: #39b998;
	color: #fff;
}
.formatDownload a {
	text-decoration: underline;
	color: #39B998;
}
.formatDownload a:hover {
	text-decoration: none;
}
.tab-content {
	border: 1px solid #ddd;
	border-top: transparent;
	padding: 10px;
}

/* header
****************************************************/
#header {
	background: #3498db;
	color: #fff;
	padding: 20px 0;
}
#header h1 a, #header h1 a:hover {
	color: #fff;
}

/* contents
****************************************************/
#contents {
	background: #fff;
}
/* dashboard */
#contents #dashboard {
	width: 200px;
	height: 1800px;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #39b998;
	font-family: 'Oswald', sans-serif;
	font-size: 18px;
	z-index: 3;
}
#contents #dashboard h1#logo {
	width: 200px;
	height: 150px;
}
#contents #dashboard ul li {
	list-style: none;
	border-bottom: 1px solid #77dec6;
}
#contents #dashboard ul li:first-child {
	border-top: 1px solid #77dec6;
}
#contents #dashboard ul.disabled li {
	opacity: 0.1;
}
#contents #dashboard ul.disabled li a {
	color: #fff;
}
#contents #dashboard ul li a {
	display: table;
	width: 100%;
	padding: 10px 18px;
	color: #fff;
}
#contents #dashboard ul li.current a {
	background-color: #2a7d65 !important;
	background-image: url(../img/bg_gnav_current.png);
	background-position: right center;
	background-repeat: no-repeat;
	text-shadow: 0 0 5px #fff;
	color: #fff;
}
#contents #dashboard ul li a > i {
	display: table-cell;
	width: 30%;
}
#contents #dashboard ul li a > span {
	display: table-cell;
	vertical-align: middle;
	width: 70%;
}
/* main */
#contents #main {
	padding: 0 20px 20px 40px;
	margin: 0 0 0 200px;
	overflow: auto;
	clear: both;
	min-width: 800px;
}
/* main header */
#contents #main #header {
	background-color: #063a5e;
	margin-left: -40px;
	margin-right: -20px;
	margin-bottom: 40px;
	padding: 13px 0 13px 0;
	box-shadow: 0 3px 5px #ccc;
}
#contents #main #header #hNav li {
	float: right;
	margin-right: 20px;
}
#contents #main #header #hNav li a {
	border: 1px solid #fff;
	border-radius: 5px;
	padding: 5px 10px 5px 10px;
	color: #fff;
}
#contents #main #header #hNav li a:hover {
	background-color: #37617e;
}
/* main form layout */
#contents #main form > div {
	margin-bottom: 10px;
}
#contents #main form > div > input.form-control {
	width: 460px;
}
#contents #main form > div > select.form-control {
	width: 150px;
	display: inline-block;
}
#contents #main form label {
	display: block;
}
#contents #main form label.required:after {
	content: "*";
	color: #e74c3c;
}
/* main event index */
#contents #main #upcomingEventList,
#contents #main #pastEventList {
	margin-bottom: 10px;
}
#contents #main #upcomingEventList li,
#contents #main #pastEventList li {
	margin-bottom: 10px;
}
#contents #main #upcomingEventList li a,
#contents #main #pastEventList li a {
	display: block;
	width: 80%;
	padding: 16px 21px;
	border: 1px solid #ccc;
	border-radius: 10px;
}
#contents #main #upcomingEventList li > a > span,
#contents #main #pastEventList li > a > span {
	display: block;
}
/* main event view */
#contents #main #viewlist li {
	float: left;
}
#contents #main #viewlist li a {
	float: left;
	/*
	text-shadow: rgb(42, 135, 111) 1px 1px, rgb(42, 135, 111) 2px 2px, rgb(42, 135, 111) 3px 3px, rgb(42, 135, 111) 4px 4px, rgb(42, 135, 111) 5px 5px, rgb(42, 135, 111) 6px 6px, rgb(42, 135, 111) 7px 7px, rgb(42, 135, 111) 8px 8px, rgb(42, 135, 111) 9px 9px, rgb(42, 135, 111) 10px 10px, rgb(42, 135, 111) 11px 11px, rgb(42, 135, 111) 12px 12px, rgb(42, 138, 113) 13px 13px, rgb(43, 141, 116) 14px 14px, rgb(44, 144, 118) 15px 15px, rgb(45, 147, 121) 16px 16px, rgb(46, 150, 123) 17px 17px, rgb(47, 153, 126) 18px 18px, rgb(48, 156, 128) 19px 19px, rgb(49, 160, 131) 20px 20px, rgb(50, 163, 134) 21px 21px, rgb(51, 166, 136) 22px 22px, rgb(52, 169, 139) 23px 23px, rgb(53, 172, 141) 24px 24px, rgb(54, 175, 144) 25px 25px, rgb(55, 178, 146) 26px 26px, rgb(56, 181, 149) 27px 27px, rgb(57, 185, 152) 28px 28px;
	*/
	display: table;
	width: 160px;
	height: 160px;
	margin-right: 10px;
	border-radius: 80px;
	background: #39b998;
	color: #fff;
}
#contents #main #viewlist li a i {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	font-size: 5em;
}
#contents #main #viewlist li:last-child a i {
	font-size: 6em;
}
#contents #main #viewlist li p {
	text-align: center;
	font-size: 16px;
}

/* main event dashboardlist */
#contents #main #dashboardlist li {
	float: left;
}
#contents #main #dashboardlist li a {
	float: left;
	/*
	text-shadow: rgb(42, 135, 111) 1px 1px, rgb(42, 135, 111) 2px 2px, rgb(42, 135, 111) 3px 3px, rgb(42, 135, 111) 4px 4px, rgb(42, 135, 111) 5px 5px, rgb(42, 135, 111) 6px 6px, rgb(42, 135, 111) 7px 7px, rgb(42, 135, 111) 8px 8px, rgb(42, 135, 111) 9px 9px, rgb(42, 135, 111) 10px 10px, rgb(42, 135, 111) 11px 11px, rgb(42, 135, 111) 12px 12px, rgb(42, 138, 113) 13px 13px, rgb(43, 141, 116) 14px 14px, rgb(44, 144, 118) 15px 15px, rgb(45, 147, 121) 16px 16px, rgb(46, 150, 123) 17px 17px, rgb(47, 153, 126) 18px 18px, rgb(48, 156, 128) 19px 19px, rgb(49, 160, 131) 20px 20px, rgb(50, 163, 134) 21px 21px, rgb(51, 166, 136) 22px 22px, rgb(52, 169, 139) 23px 23px, rgb(53, 172, 141) 24px 24px, rgb(54, 175, 144) 25px 25px, rgb(55, 178, 146) 26px 26px, rgb(56, 181, 149) 27px 27px, rgb(57, 185, 152) 28px 28px;
	*/
	display: table;
	width: 160px;
	height: 160px;
	margin-right: 10px;
	border-radius: 80px;
	background: #39b998;
	color: #fff;
}
#contents #main #dashboardlist li a i {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	font-size: 5em;
}
#contents #main #dashboardlist li p {
	text-align: center;
	font-size: 16px;
}

/* main event index */
#contents #main #eventlist li {
	margin-bottom: 10px;
}
#contents #main #eventlist li a {
	display: block;
	width: 80%;
	padding: 16px 21px;
	border: 1px solid #ccc;
	border-radius: 10px;
}
#contents #main #eventlist li > a > span {
	display: block;
}

/* main.presentationlist */
#contents #main #presentationlist li {
	margin-bottom: 10px;
}
#contents #main #presentationlist li a {
	display: block;
	width: 80%;
	padding: 16px 21px;
	border: 1px solid #ccc;
	border-radius: 10px;
}
#contents #main #presentationlist li > a > span {
	display: block;
}

/* footer
****************************************************/
#footer {
	background: #333;
	color: #fff;
	font-size: 11px;
	padding: 20px 0;
}
#footer #copyright {
	text-align: center;
}