@charset "utf-8";
/*-------------------------------------------------

  page_event.css

 --------------------------------------------------*/

/* view */
#contents #main .location,
#contents #main .datetime {
	font-size: 18px;
	margin-bottom: 10px;
}

.list{
	font-size:130%;
	margin-bottom:30px;

}

.title{
	font-size:120%;
}