/*説明部*/
p#check-specification{
	text-decoration: underline;
	color: #565371;
}
div#specifications p{
	margin-left: 30px;
}

/*時間軸*/
.time-group{
	margin-top: 10px;
	float: left;
}
div.time-group p {
	font-size: 105%;
	line-height: 90px;
}
.container{
	position: relative;
	float: left;
}
/*セッション会場*/
.room{
	width: 100px;
	height: 30px;
	margin-top: 5px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.room-group>.btn:not(:first-child){
	margin-left: 15px;
}
.room-group{
	margin-left: 60px;
}
/*セッション会場の間の棒*/
div.drop-target{
	position: absolute;
	top: 8px;
	font-size: 38px;
	color: #FFFFFF;
}
/*各セッション*/
.session-group>.btn{
	width: 100px;
	padding: 6px 2px;
	background-color: #D7F4F7;
	/*文字折り返し*/
	white-space: pre;           /* CSS 2.0 */
	white-space: pre-wrap;      /* CSS 2.1 */
	white-space: pre-line;      /* CSS 3.0 */
	white-space: -pre-wrap;     /* Opera 4-6 */
	white-space: -o-pre-wrap;   /* Opera 7 */
	white-space: -moz-pre-wrap; /* Mozilla */
	word-wrap: break-word;	 /* IE 5+ */
	overflow: auto;
}
/*modal window関連*/
.modal-content {
    position:fixed;
    display:none;
    z-index:8;
    width:50%;
    margin:0;
    margin-top: 100px;
    padding:10px 20px;
    border:2px solid #aaa;
    background:#fff;
    overflow: scroll;
    max-height: 100%;
}

.modal-content p {
    margin:0;
    padding:0;
}

.modal-overlay {
    z-index:1;
    display:none;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:120%;
    background-color:rgba(0,0,0,0.75);
}

.session-modal-open:hover {
    cursor:pointer;
    color:#f00;
}

.modal-close:hover {
    cursor:pointer;
    color:#f00;
}
.lock {
	overflow: hidden;
}
.box-group {
	display: flex;
	display: -webkit-flexbox;
	display: -moz-flexbox;
	display: -ms-flexbox;
	display: -o-flexbox;
	display: flexbox;
	margin-top: 10px;
	float: right;
	flex-direction: row-reverse;
	space-between: 4px;
}

#session_cancel_btn {
	margin-right: 8px;
	margin-left: 8px;
}

/*modal内の要素*/
.commentator {
	margin-top: 16px;
	margin-bottom: 16px;
}
.modal-content>h2 {
	margin-top: 17px;
	font-size: 25px;
}
.chair,.commentator {
	border: 1px;
	border-style: solid;
	padding: 10px;
}
legend {
	font-size: 15px;
	padding-left: 10px;
	border-bottom: 0;
}
/*required*/
label[for=r-name]:after, label[for=room]:after, label[for=order]:after, label[for=category]:after, label[for=date]:after{
	content: "*";
	color: #e74c3c;
}
