@charset "utf-8";
/*-------------------------------------------------

  page_event.css

 --------------------------------------------------*/

/* view */
#contents #main .location,
#contents #main .datetime {
	font-size: 18px;
	margin-bottom: 10px;
}
#contents #main .panel-group {
	margin-top: 15px;
}
#contents #main .panel-group .panel-default {
	width: 850px;
	border: none;
	background-color: #222;
	color: #fff;
	margin-top: 0;
}
#contents #main .panel-group .panel-body  {
	width: 850px;
}