@charset "utf-8";
/*-------------------------------------------------

  page_poster.css

 --------------------------------------------------*/

/* canvasArea */
#canvasArea {
	float: left;
}
#canvasArea .nav li {
	width: 10%;
}
#canvasArea .tab-pane {
	position: relative;
	width: 720px;
	height: 982px;
}
#canvasArea canvas {
	background-image: url(../img/dot.png);
	background-repeat: repeat;
	background-size: auto, cover, cover;
	border: 1px solid #e1e1e1;
	display: block;
	margin: 0 auto;
	width: 720px;
	height: 960px;
	position: absolute;
	top: 24px;
	left: 0;
}
#canvasArea canvas.disuse {
	background-image: url(../img/bg_canvas_disuse.png), url(../img/dot.png);
}
#canvasArea .posterCanvas {
	z-index: 2;
	opacity: 0.7;
}
#canvasArea .areaCanvas {
	z-index: 1;
	opacity: 0.3;
}

/* inputArea */
#inputArea {
	float: right;
	background: #fff;
	width: 320px;
	height: 100%;
	padding: 0 20px 20px 20px;
}
#inputArea .nav li {
	width: 33%;
}
#inputArea .nav li a {
	display: table-cell;
	vertical-align: middle;
	width: 93px;
	height: 60px;
}
/* inputArea.tcPoster */
#inputArea .form {
	margin-bottom: 20px;
}
#inputArea p {
	margin-bottom: 10px;
}
#inputArea .bgGRY {
	background-color: #999999;
}
/*
旧バージョン
#inputArea .bg1 { background-color: #999999; }
#inputArea .bg2 { background-color: #000000; }
#inputArea .bg3 { background-color: #ffffff; }
#inputArea .bg4 { background-color: #E60012; }
#inputArea .bg5 { background-color: #F39800; }
#inputArea .bg6 { background-color: #FFF100; }
#inputArea .bg7 { background-color: #8FC31F; }
#inputArea .bg8 { background-color: #009944; }
#inputArea .bg9 { background-color: #009E96; }
#inputArea .bg10 { background-color: #00A0E9; }
#inputArea .bg11 { background-color: #0068B7; }
#inputArea .bg12 { background-color: #1D2088; }
#inputArea .bg13 { background-color: #920783; }
#inputArea .bg14 { background-color: #E4007F; }
#inputArea .bg15 { background-color: #E5004F; }
*/
#inputArea .bg1 { background-color: #ff2800; }
#inputArea .bg2 { background-color: #faf500; }
#inputArea .bg3 { background-color: #35a16b; }
#inputArea .bg4 { background-color: #0041ff; }
#inputArea .bg5 { background-color: #66ccff; }
#inputArea .bg6 { background-color: #ff99a0; }
#inputArea .bg7 { background-color: #ff9900; }
#inputArea .bg8 { background-color: #9a0079; }
#inputArea .bg9 { background-color: #663300; }

select[name="objectCreateColor"] + .btn-group > .selectpicker > span:first-child,
select[name="objectEditColor"] + .btn-group > .selectpicker > span:first-child {
	background-color: #999999;
	border: 1px solid #f1f1f1;
}
#mapForm .form-control {
	display: inline-block;
	width: 140px;
}
/* inputArea.tcPresentation */
#inputArea #tcPresentation .pager li {
	float: left;
	margin-left: 4px;
}
#inputArea #tcPresentation .pager li:first-child {
	margin-left: 0;
}
#inputArea #tcPresentation .pager li > a {
	padding: 4px 10px;
	border-radius: 5px;
}
#inputArea #tcPresentation .presentationlist li {
	border: 1px solid #ddd;
	border-radius: 5px;
	padding: 7px 12px;
	margin-bottom: 7px;
}
#inputArea #tcPresentation .presentationlist li.related {
	background-color: #ddd;
	color: #777;
}

/* boostrap hack */
.btn {
	width: 100%;
}
fieldset {
	padding: 15px;
	margin: 0;
	border: 1px solid silver;
	border-radius: 10px;
}
legend {
	text-align: center;
	font-size: 16px;
	width: 80%;
}
/* bootstrap-select hack */
ul.dropdown-menu li {
	list-style: none;
}
.bootstrap-select {
	width: 100% !important;
	margin-bottom: 20px;
}
.dropdown-menu {
	width: auto !important;
}
.nav-tabs > li {
	text-align: center;
}
.nav-tabs > li > a {
	padding: 10px;
}
/* jquery-ui hack */
#dialogDeleteConfirm {
	height: auto !important;
}
#dialogEditConfirm {
    height: auto !important;
}
