@charset "utf-8";
/*説明部*/
p#check-specification{
    text-decoration: underline;
    color: #565371;
}
div#specifications p{
    margin-left: 30px;
}


 #plus{
 position:relative;
 }
.submit{
display: table;
_display: inline;
_zoom: 1;
list-style-type: none;
float:left;
margin-right:10px;
}

.modal-overlay {
     z-index: 1; 
     display: none; 
     position: fixed; 
     top: 0; 
     left: 0; 
     width: 100%; 
     height: 120%; 
     background-color: rgba(0,0,0,0.75); 
}

.modal-content {
    position: fixed;
    display: none;
    z-index: 8;
    width: 50%;
    margin: 0;
    margin-top: 100px;
    padding: 10px 20px;
    border: 2px solid #aaa;
    background: #fff;
    overflow: scroll;
    max-height: 100%;
}

#error-messages{
color: red;
}