/*時間軸*/
.time-group{
	margin-top: 35px;
	float: left;
}
div.time-group p {
	font-size: 105%;
	line-height: 90px;
}
/*セッション会場*/
.room{
	width: 100px;
	height: 30px;
	margin-top: 5px;
}

.room-group>.btn:not(:first-child){
	margin-left: 15px;
}
.room-group{
	margin-left: 60px;
}
/*各セッション*/
.session-group>.btn{
	width: 100px;
	padding: 6px 2px;
}
