@charset "utf-8";
/*-------------------------------------------------

  page_setting.css

 --------------------------------------------------*/

#pageSetting div {
	margin-bottom: 10px;
}
#pageSetting p {
	margin-bottom: 10px;
}
#pageSetting #posmappImage {
	background-image: url(../img/fr_posmapp_top.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 428px; /* fr_posmapp_floor.png 855px/2 */
	height: 849px; /* fr_posmapp_floor.png 1698/2 */
	position: relative;
}
#pageSetting #topImage {
	position: absolute;
	left: 54px;
	top: 200px;
}
#pageSetting #topImage img {
	width: 320px;
	height: auto;
	max-height: 507px;
}
#pageSetting #menuImage {
	position: absolute;
	left: 54px;
	top: 200px;
}
#pageSetting #textInfo {
	position: absolute;
	left: 63px;
	top: 215px;
}
#pageSetting #textInfo p {
	font-size: 15px;
	line-height: 16px;
	margin-bottom: 0;
	text-shadow: 2px 2px #fff;
	color: #222;
}
#pageSetting #textInfo .textBigger {
	font-size: 20px;
}
